---
const navigationItems = [
  { name: "Home", url: "/" },
  { name: "Projects", url: "/projects/" },
]

interface Props {
  pageTitle?: string
}

const { pageTitle } = Astro.props
---

<header class="border-b-4 border-black flex justify-between p-6 items-center">
  {pageTitle && <h1 class="hidden">{pageTitle}</h1>}
  <a href="/" title="Back to Home">
    <p class="righteous md:text-5xl">Joe Sabbagh</p>
  </a>
  <nav class="hidden md:inline-block">
    <ul class="flex gap-8 poppins">
      {
        navigationItems.map((item) => (
          <li>
            <a
              class="text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out"
              href={item.url}
              title={`Go to ${item.name}`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
      <li>
        <a
          class="text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out"
          href="/public/resume.pdf"
          download="Joe_Sabbagh_CV"
        >
          Resume
        </a>
      </li>
    </ul>
  </nav>
  <nav class="md:hidden flex">
    <ul class="flex gap-6">
      <li><a href="/projects/">Projects</a></li>
      <li>
        <a href="/public/resume.pdf" download="Joe_Sabbagh_CV"> Resume</a>
      </li>
    </ul>
  </nav>
</header>
