---
import type { CollectionEntry } from "astro:content"
import { Pill } from "@eliancodes/brutal-ui"
import SummaryCard from "../generic/SummaryCard.astro"
import { Button } from "@eliancodes/brutal-ui"

interface Props {
  post: CollectionEntry<"projects">
}

const { post } = Astro.props
---

<SummaryCard title={post.data.title} description={post.data.description}>
  <div class="flex justify-end my-4">
    <Button href={post.data.link} target="_blank">Source Code &rarr;</Button>
  </div>
  <div>
    <p class="poppins">Built with:</p>
    <div class="flex justify-between items-center">
      <ul class="flex gap-4 mt-2">
        {
          post.data.tags.map((tag) => {
            return (
              <a class="sanchez">
                <Pill>{tag}</Pill>
              </a>
            )
          })
        }
      </ul>
    </div>
  </div>
</SummaryCard>
