---
interface Props {
  title: string
  description: string
}
import { Card } from "@eliancodes/brutal-ui"

const { title, description } = Astro.props
---

<Card color="white">
  <my-ass>
    <h3 class="poppins text-xl md:text-4xl mb-4">{title}</h3>
    <p class="poppins md:text-lg limitClass" id="description">{description}</p>
    <button class="show">Show More</button>
  </my-ass>
  <slot />
</Card>

<script>
  class ass extends HTMLElement {
    constructor() {
      super()

      const button = this.querySelector("button")
      const paragraph = this.querySelector("p")

      let more = false

      paragraph.style.display = "-webkit-box"
      paragraph.style.webkitLineClamp = 2
      paragraph.style.webkitBoxOrient = "vertical"
      paragraph.style.overflow = "hidden"
      paragraph.style.whiteSpace = "pre-line"

      button?.addEventListener("click", () => {
        if (!more) {
          paragraph.style.webkitLineClamp = 100
          button.innerText = "Show Less"
        } else {
          paragraph.style.webkitLineClamp = 2
          button.innerText = "Show more"
        }
        more = !more
      })
    }
  }

  customElements.define("my-ass", ass)
</script>
