---
interface Props {
  title: string
  description: string
}
import { Card } from "@eliancodes/brutal-ui"
const { title, description } = Astro.props
---

<Card color="white">
  <h3 class="poppins text-xl md:text-4xl mb-4">{title}</h3>
  <p class="poppins md:text-lg">{description}</p>
  <slot />
</Card>
